.place__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  grid-area: title; 
}


/* 320 */
@media (max-width: 767px){
  .place__title {
    font-size: 32px;
    line-height: 109%;
    /* or 35px*/
    margin: 0 16px; 
  }
}

/* 768 */
@media (min-width: 768px) {
  .place__title {
    /* max-width: 340px; */
    max-width: 288px;
    font-size: 42px;
    line-height: 110%;
    /* or 46px*/
  }
}

/* 1024 */
@media (min-width: 1024px) {
  .place__title {
    max-width: 460px;
    font-size: 72px;
    line-height: 106%;
    /* or 76px*/
  }
}
