.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, auto));
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  gap: 16px;
}



/* 320 */
@media (max-width: 767px){
  .photo-grid {
    row-gap: 12px;
    padding:  0 16px;
  }
}

/* 768 */
/* @media (max-width: 1023px){ */
@media (min-width: 768px){
  .photo-grid {
    gap: 16px;
    padding: 0 24px;
  }
}

/* 1024 */
/* @media (max-width: 1279px){ */
@media (min-width: 1024px){
  .photo-grid {
    gap: 14px;
    padding: 0 48px;
  }
}

/* 1280 */
@media (min-width: 1280px){
  .photo-grid {
    /* max-width: 1184px; */
    max-width: 1280px;
    gap: 16px;
  }
}
