@media screen and (max-width: 767px){
    .page {
      min-width: 320px;
      max-width: 767px;
      margin: 0 auto;
      padding: 0;
      background-color: #2A2C2F;
      color: #FFFFFF;
      font-family: 'Inter';
    }
  


/* Ш-А-П-К-А */
            
            .header {
                max-width: 288px;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
              }
              

              .header__logo {
                width: 142px;
              }
              
              
              .header__lang-links {
                display: flex;
                list-style-type: none;
                gap: 18px;
              }
              
              
              .header__lang-link {
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 111%;
                /* identical to box height, or 20px*/
                text-decoration: none;
                color: #FFFFFF;
              }
              
          
              .header__lang-link_on {
                text-decoration: underline;
              }
              

              
 /* Л-И-Д */
              
              .lead {
                width: 320px;
                /* height: 406px; */
                margin: 0 auto;
              }
              
          
              .lead__title {
                font-family: 'Inter-Black';
                font-style: normal;
                font-weight: 900;
                font-size: 40px;
                line-height: 110%;
                /* or 44px*/
                text-align: center;
                color: #FFFFFF;
              }
              
          
              .lead__subtitle {
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 125%;
                /* or 20px*/
                text-align: center;
                color: #FFFFFF;
              }
              

              .lead__image {
                width: 100%;
                /* height: 50%; */
                /* width: 320px;
                height: 200px; */
              }
              

              .lead__caption {
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 140%;
                /* identical to box height, or 14px*/
                letter-spacing: 1.5px;
                text-transform: uppercase;
                color: #FFFFFF;
              }
              
              
              
/* И-Н-Т-Р-О */
              
              .intro {
                max-width: 288px;
                /* height: 754px; */
                margin: 0 auto;
              }
              

              .intro__title {
                font-family: 'Inter-Black';
                font-style: normal;
                font-weight: 900;
                font-size: 32px;
                line-height: 109%;
                /* identical to box height, or 35px*/
                color: #FFFFFF;
              }
              

              .inrto__text {
                width: 100%;
                /* max-width: 288px; */
                /* height: 520px; */
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 163%;
                /* or 26px */
                color: #FFFFFF;
              }
              

              .intro__list {
                width: 100%;
                font-family: 'Inter-Bold';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 150%;
                /* or 18px*/
                list-style-type: none;
                color: #FFFFFF;
              }
              

              .intro__numbers {
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                color: #FFFFFF;
              }
              

              
/* Г-А-Л-Е-Р-Е-Я */
                     
.photo-grid {
    max-width: 928px;
    /* max-height: 942px; */
    /* параметр высоты взял из тренажера */
    /* min-height: calc(100vh - 80px); */
    display: grid;
    gap: 16px;
    margin: 0 auto;
  }

              .photo-grid__item {
                max-width: 288px;
                /* max-height: 225px; */
                /* max-width: 100%; */
                /* max-height: 100%; */
                /* width: 100%; */
                /* height: 100%; */
                object-fit: cover;
                margin: 0 auto;
              }
              
              
              
/* М-Е-С-Т-А */
              
              .places {
                /* width: 320px; */
                margin: 0 auto;
              }
              
              .place {
                /* max-width: 320px; */
                display: grid;
                grid-template-columns: minmax(320px, max-contetnt);
                /* grid-template-rows: 1fr 1fr 1fr 1fr; */
                row-gap: 32px;
              }
              
              
              .place__title {
                font-family: 'Inter-Black';
                font-style: normal;
                font-weight: 900;
                font-size: 32px;
                line-height: 109%;
                /* or 35px*/
                margin: 0;
              }
              

              .place__image {
                width: 100%; 
                /* max-width: 320px; */
                /* height: 320px;
                width: 90%;
                height: 90%; */
                background-size: cover;
              }
              

              .place__website {
                /* align-self: center; */
                /* width: 288px;
                height: 46px; */
              }
              

              .place__url-heading {
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 100%;
                /* identical to box height, or 12px*/
                letter-spacing: 2px;
                color: #AAAAAA;
                text-transform: uppercase;
              }
              

              .place__link {
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 122%;
                /* identical to box height, or 22px */
                text-decoration: underline;
                color: #FFFFFF;
              }
              

              .place__text {
               
              }


              .place__paragraph {
                /* width: 288px; */
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 163%;
                /* or 26px */
                color: #FFFFFF;
              }
              
              
              
/* Б-А-Й-К-А-Л */
              
              .cover {
                /* width: 320px;
                height: 200px; */
                /* width: 90vw; */
                /* height: 90vh; */
                margin: 0 auto;
              }


              .cover__background {
                width: 100%;
                /* width: 1184px;
                height: 740px; */
                background-image: url('../images/cover-trains.jpg');
                background-repeat: no-repeat;
                background-size: contain;
                /* background-size: cover;
                background-position: center; */
                z-index: 1;
              }
              

              .cover__title {
                font-family: 'Inter-Black';
                font-style: normal;
                font-weight: 900;
                font-size: 32px;
                line-height: 109%;
                /* or 35px*/
                text-align: center;
                color: #FFFFFF;
                z-index: 2;
              }
              

              .cover__subtitle {
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 114%;
                /* or 16px*/
                text-align: center;
                color: #FFFFFF;
                z-index: 2;
              }
              
              
              
/* П-О-Д-В-А-Л */
              
              .footer {
                max-width: 186px;
                /* height: 310px; */
                display: flex;
                justify-content: space-between;
                margin: 0;
                flex-wrap: wrap;
              }
              

              .footer__menu {
                
              }
              

              .footer__links {
                display: flex;
                /* flex-wrap: wrap; */
                flex-direction: column;
                list-style-type: none;
                /* justify-content: space-between; */
                gap: 18px;
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 112%;
                /* identical to box height, or 18px*/
                color: #FFFFFF;
              }
              

              .footer__link {
                font-family: 'Inter-Regular';
                text-decoration: none;
                color: #FFFFFF;
                font-size: 24px;
                line-height: 100%;
                /* identical to box height, or 24px*/
                font-weight: 400;
                margin-bottom: 24px;
                color: #FFFFFF;
              }
              

              .footer__copyright {
                margin-bottom: 24px;
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                /* identical to box height, or 14px*/
                color: #FFFFFF;
              }
}