@media screen and (min-width: 768px) and (max-width: 1023px){
    .page {
        min-width: 768px;
        max-width: 1023px;
        margin: 0 auto;
        padding: 0;
        background-color: #2A2C2F;
        color: #FFFFFF;
        font-family: 'Inter';
    }



/* Ш-А-П-К-А */
            
            .header {
                /* max-width: 720px; */
                max-width: calc(100% - 24px*2);
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                
              }
              

              .header__logo {
                width: 176px;
                padding-top: 28px;
              }
              
              
              .header__lang-links {
                display: flex;
                list-style-type: none;
                gap: 18px;
                padding-top: 46px;
              }
              
              
              .header__lang-link {
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 111%;
                /* identical to box height, or 20px*/
                text-decoration: none;
                color: #FFFFFF;
              }
              
          
              .header__lang-link_on {
                text-decoration: underline;
              }
              
              
              
/* Л-И-Д */
              
              .lead {
                max-width: 768px;
                margin: 0 auto;
              }
              
          
              .lead__title {
                font-family: 'Inter-Black';
                font-style: normal;
                font-weight: 900;
                font-size: 96px;
                line-height: 104%;
                /* or 100px*/
                text-align: center;
                color: #FFFFFF;
                margin: 48px auto 0;
              }
              
          
              .lead__subtitle {
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 120%;
                /* or 36px*/
                text-align: center;
                color: #FFFFFF;
                margin: 32px auto 56px;
              }
              

            
              .lead__image {
                max-width: 100%;
                /* height: 50%; */
              }
              

              .lead__caption {
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 140%;
                /* identical to box height, or 14px*/
                letter-spacing: 1.5px;
                text-transform: uppercase;
                color: #FFFFFF;
              }
              
              
              
/* И-Н-Т-Р-О */
              
              .intro {
                max-width: 720px;
                /* max-height: 429px; */
                margin: 0 auto;
                color: #FFFFFF;
              }
              

              .intro__title {
                font-family: 'Inter-Black';
                font-style: normal;
                font-weight: 900;
                font-size: 54px;
                line-height: 107%;
                /* identical to box height, or 58px*/
                color: #FFFFFF;
              }
              

              .inrto__text {
                max-width: 100%;
                /* height: 208px; */
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 163%;
                /* or 26px */
                color: #FFFFFF;
              }
              

              .intro__list {
                width: 720px;
                font-family: 'Inter-Bold';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 150%;
                /* or 18px*/
                list-style-type: none;
                color: #FFFFFF;
                margin: 0;
                padding: 0;
              }
              
              
              .intro__numbers {
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                color: #FFFFFF;
              }



/* Г-А-Л-Е-Р-Е-Я */
              
              .photo-grid {
                /* width: calc(100% - 24px*2); */
                max-width: 928px;
                /* max-height: 942px; */
                /* min-height: calc(100vh - 80px); */
                display: grid;
                grid-template-columns: repeat(2,minmax(min-content,1fr));
                /* grid-template-columns:repeat(4, 1fr);
                grid-template-rows: repeat(3, 1fr); */
                gap: 16px;
                margin: 0 auto;
              }
              
          
              .photo-grid__item {
                /* width: calc(100% - 24px*2); */
                max-width: 352px;
                /* max-width: 100%; */
                /* max-height: 100%; */
                /* width: 100%; */
                /* height: 100%; */
                object-fit: cover;
              }
              
              
              
/* М-Е-С-Т-А */
              
              .places {
                /* width: 928px; */
                margin: 0 auto;
              }
              

              .place {
                /* max-width: 720px; */
                display: grid;
                /* grid-template-columns: repeat(auto-fit, 352px); */
                /* grid-template-columns: repeat(auto-fit, minmax(352px,1fr)); */
                /* grid-template-columns: repeat(auto-fit, minmax(min-content,352px)); */
                grid-template-columns: minmax(min-content,340px) minmax(352px, max-contetnt);
                /* grid-template-columns: repeat(minmax(min-content, max-contetnt)); */
                grid-template-areas:
                "title web"
                "image text";
                row-gap: 28px;
                column-gap: 48px;
              }
              

              .place__title {
                font-family: 'Inter-Black';
                font-style: normal;
                font-weight: 900;
                font-size: 42px;
                line-height: 110%;
                /* or 46px*/
                grid-area: title;
                margin: 0;
                color: #FFFFFF;
              }
              

              .place__image {
                width: 100%; 
                /* max-width: 340px; */
                /* height: 340px; */
                /* width: 90%; */
                /* height: 90%; */
                background-size: cover;
                grid-area: image;
              }
              

              .place__website {
                align-self: end;
                grid-area: web;
              }
              

              .place__url-heading {
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 100%;
                /* identical to box height, or 12px*/
                letter-spacing: 2px;
                color: #AAAAAA;
                text-transform: uppercase;
              }
              

              .place__link {
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 122%;
                /* identical to box height, or 22px */
                text-decoration: underline;
                color: #FFFFFF;
              }
              

              .place__text {
                grid-area: text;
              }


              .place__paragraph {
                /* width: 352px; */
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 163%;
                /* or 26px */
                color: #FFFFFF;
              }
              

              
/* Б-А-Й-К-А-Л */
              
              .cover {
                /* width: 768px; */
                /* height: 480px; */
                /* width: 90vw; */
                /* height: 90vh; */
                margin: 0 auto;
              }
              

              .cover__background {
                width: 100%;
                /* width: 1184px;
                height: 740px; */
                background-image: url('../images/cover-trains.jpg');
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 1;
              }


              .cover__title {
                font-family: 'Inter-Black';
                font-style: normal;
                font-weight: 900;
                font-size: 72px;
                line-height: 106%;
                /* or 76px*/
                text-align: center;
                color: #FFFFFF;
                z-index: 2;
              }
              

              .cover__subtitle {
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 122%;
                /* or 22px*/
                text-align: center;
                color: #FFFFFF;
                z-index: 2;
              }
              
              
              
/* П-О-Д-В-А-Л */
              
              .footer {
                max-width: 720px;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
              }
              

              .footer__menu {
                
              }
              

              .footer__links {
                display: flex;
                list-style-type: none;
                /* justify-content: space-between; */
                gap: 18px;
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 112%;
                /* identical to box height, or 18px*/
                color: #FFFFFF;
              }
              

              .footer__link {
                font-family: 'Inter-Regular';
                text-decoration: none;
                color: #FFFFFF;
                font-size: 16px;
                line-height: 112%;
                /* identical to box height, or 18px*/
                font-weight: 400;
                margin-bottom: 24px;
                /* padding-bottom: 24px; */
                color: #FFFFFF;
              }
              

              .footer__copyright {
                margin-bottom: 24px;
                font-family: 'Inter-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 114%;
                /* identical to box height, or 16px*/
                text-align: right;
                color: #FFFFFF;
              }
}