.place__image {
  /* width: 100%;  */
  background-size: cover;
  grid-area: image;
  margin: 0;
  padding: 0;
}


/* 320 */
@media (max-width: 767px){
  .place__image {
    max-width: 340px;
  }
}

/* 768 */
/* @media (max-width: 1023px){ */
@media (min-width: 768px){
  .place__image {
    max-width: 340px;
  }
}

/* 1024 */
@media (min-width: 1024px){
  .place__image {
    max-width: 440px;
  }
}

/* 1280 */
@media (min-width: 1280px){
  .place__image {
    /* max-width: 340px; */
    max-width: 460px;
  }
}