.place__image {
  width: 100%;
  background-size: cover;
  grid-area: image;
  margin: 0;
  padding: 0;
  /* шрифт для альтернативного описания, если картинка не отобразится */
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}


/* 320 */
@media (max-width: 424px){
  .place__image {
    /* max-width: 340px; */
  }
}

/* сделал промежуточный брейкпоинт для плавности перехода по рекомендации в задании к проектной*/
/* 425 */
@media (min-width: 425px){
  .place__image {
    max-width: 340px;
  }
}

/* 768 */
@media (min-width: 768px){
  .place__image {
    min-width: 340px;
    max-width: 440px;
  }
}

/* 1024 */
@media (min-width: 1024px){
  .place__image {
    min-width: 440px;
    max-width: 460px;
  }
}

/* 1280 */
@media (min-width: 1280px){
  .place__image {
    max-width: 460px;
  }
}