.intro__list {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  /* or 18px*/
  list-style-type: none;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}



/* 320 */
@media (max-width: 767px){
  .intro__list {
    /* width: 288px; */
    margin: 0 16px 64px;
  }
}

/* 768 */
@media (min-width: 768px){
  .intro__list {
    /* width: 720px; */
    margin: 0 24px 88px 24px;
  }
}

/* 1024 */
@media (min-width: 1024px){
  .intro__list {
    /* width: 690px; */
    margin: 0 auto 92px 48px;
  }
}

/* 1280 */
@media (min-width: 1280px){
  .intro__list {
    margin: 0 auto 92px 148px;
  }
}