.footer__menu {
  padding: 0;
  margin: 0;    
}



/* 320 */
@media (max-width: 767px){
  .footer__menu {
    margin-left: 16px; 
  }
}

/* 768 */
/* @media (max-width: 1023px){ */
@media (min-width: 768px){
  .footer__menu {

  }
}

/* 1024 */
/* @media (max-width: 1279px){ */
@media (min-width: 1024px){
  .footer__menu {
  
  }
}