.cover__subtitle {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
  }

/* 320 */
@media (max-width: 767px){
    .cover__subtitle {
        font-size: 14px;
        line-height: 114%;
        /* or 16px*/
      }
}

/* 768 */
@media (max-width: 1023px){
    .cover__subtitle {
        font-size: 18px;
        line-height: 122%;
        /* or 22px*/
      }
}

/* 1024 */
@media (max-width: 1279px){
    .cover__subtitle {
        font-size: 18px;
        line-height: 122%;
        /* or 22px*/
      }
}

/* 1280 */
@media (min-width: 1280px){
    .cover__subtitle {
        font-size: 18px;
        line-height: 122%;
        /* or 22px*/
      }
}