.cover__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  padding: 0;
  margin: 0 auto;
  z-index: 2;
  max-width: 360px;
  /* padding: 0 calc(66 / 360 * 100%); */
}



/* 320 */
@media (max-width: 767px){
  .cover__subtitle {
    font-size: 14px;
    line-height: 114%;
    min-width: 288px;
    /* or 16px*/
    /* margin: 0 16px; */
    /* max-width: 288px; */
  }
}

/* 768 */
/* @media (max-width: 1023px){ */
@media (min-width: 768px){
  .cover__subtitle {
    font-size: 18px;
    line-height: 122%;
    /* or 22px*/
    /* max-width: 360px; */
  }
}
