.header__logo {

}


/* 320 */
@media (max-width: 767px){
  .header__logo {
    width: 142px;
    height: 42px;
    padding-top: 16px;
  }
}

/* 768 */
/* @media (max-width: 1023px){ */
@media (min-width: 768px){
  .header__logo {
    width: 176px;
    height: 52px;
    padding-top: 28px;
  }
}
