.header__logo {

  }

/* 320 */
@media (max-width: 767px){
    .header__logo {
        width: 142px;
        /* width: 0; */
        padding-top: 16px;
      }
}

/* 768 */
@media (max-width: 1023px){
    .header__logo {
        width: 176px;
        padding-top: 28px;
      }
}

/* 1024 */
@media (max-width: 1279px){
    .header__logo {
        width: 176px;
        padding-top: 28px;
      }
}

/* 1280 */
@media (min-width: 1280px){
    .header__logo {
        /* width: 176px; */
        padding-top: 28px; 
      }
}