.photo-grid__item {
    object-fit: cover;
  }   

  /* 320 */
@media (max-width: 767px){
    .photo-grid__item {
        min-width: 288px;
        width: calc(100% - 16px*2);
        margin: 0 auto;
      }   
}

/* 768 */
@media (max-width: 1023px){
    .photo-grid__item {
        max-width: 352px;
      }
}

/* 1024 */
@media (max-width: 1279px){
    .photo-grid__item {
        max-width: 300px;
      }
}

/* 1280 */
@media (min-width: 1280px){
    .photo-grid__item {
        max-width: 284px;
      }
}
