.photo-grid__item {
  object-fit: cover;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}   



  /* 320 */
@media (max-width: 767px){
  .photo-grid__item {
    /* min-width: 288px; */
    /* width: calc(100% - 16px*2); */
    max-width: 352px;
  }   
}

/* 768 */
/* @media (max-width: 1023px){ */
@media (min-width: 768px){
  .photo-grid__item {
    max-width: 352px;
  }
}

/* 1024 */
/* @media (max-width: 1279px){ */
@media (min-width: 1024px){
  .photo-grid__item {
    max-width: 300px;
  }
}

/* 1280 */
@media (min-width: 1280px){
  .photo-grid__item {
    max-width: 284px;
  }
}
