.photo-grid__item {
  object-fit: cover;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  /* шрифт для альтернативного описания, если картинка не отобразится */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}   



/* 320 */
@media (max-width: 424px){
  .photo-grid__item {
    /* max-width: 352px; */
    max-width: 100%;
  }   
}

/* сделал промежуточный брейкпоинт для плавности перехода по рекомендации в задании к проектной*/
/* 425 */
@media (min-width: 425px){
  .photo-grid__item {
    max-width: 352px;
  }
}

/* 768 */
@media (min-width: 768px){
  .photo-grid__item {
    max-width: 352px;
  }
}

/* 1024 */
@media (min-width: 1024px){
  .photo-grid__item {
    max-width: 300px;
  }
}

/* 1280 */
@media (min-width: 1280px){
  .photo-grid__item {
    max-width: 284px;
  }
}
