.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}


/* 320 */
@media (max-width: 767px){
  .header {
  /* max-width: 288px; */
  max-width: calc(100% - 16px*2);
  }
}

/* 768 */
/* @media (max-width: 1023px){ */
@media (min-width: 768px){
  .header {
  /* max-width: 720px; */
    max-width: calc(100% - 24px*2);
  }
}

/* 1024 */
/* @media (max-width: 1279px){ */
@media (min-width: 1024px){
  .header {
  /* max-width: 928px; */
    max-width: calc(100% - 48px*2);
  }
}

/* 1280 */
@media (min-width: 1280px){
  .header {
    max-width: 1184px;
  }
}