.footer__links {
  display: flex;
  list-style-type: none;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}



/* 320 */
@media (max-width: 767px){
  .footer__links {
    flex-direction: column;
    margin-top: 64px;
    margin-left: 16px;
    row-gap: 32px;
  }
}

/* 768 */
@media (min-width: 768px){
  .footer__links {
    flex-direction: row;
    margin-top: 88px;
    margin-left: 24px;
    column-gap: 18px;
  }
}

/* 1024 */
@media (min-width: 1024px){
  .footer__links {
    margin-top: 92px;
    margin-left: 48px;
  }
}

/* 1280 */
@media (min-width: 1280px){
  .footer__links {
    margin-left: 0;
  }
}
