.place__paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}



/* 768 */
@media (max-width: 1023px){
/* @media (min-width: 768px) { */
  .place__paragraph {
    /* width: 352px; */
    font-size: 16px;
    line-height: 163%;
    /* or 26px */
    margin: 0 auto 25px;
  }
}

/* 1024 */
/* @media (max-width: 1279px){ */
@media (min-width: 1024px) {
  .place__paragraph {
    /* width: 456px; */
    font-size: 18px;
    line-height: 163%;
    /* or 29px */
    margin: 0 auto 26px;
  }
}
