.cover {
  display: flex;
  background-image: url('../../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

.cover::after {
  content: '';
  width: 0;
  height: 0;
  padding-top: calc(740 / 1184 * 100%);
}



/* 320 */
@media (max-width: 767px){
  .cover {
    min-width: 320px;
    margin: 66px auto 0;
  }
}

/* 768 */
/* @media (max-width: 1023px){ */
@media (min-width: 768px){
  .cover {
    margin: 90px auto 0;
  }
}

/* 1024 */
/* @media (max-width: 1279px){ */
@media (min-width: 1024px){
  .cover {
    margin: 92px auto 0;
  }
}

/* 1280 */
@media (min-width: 1280px){
  .cover {
    max-width: 1184px;
  }
}


