.lead__caption {
  width: 158px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  /* identical to box height, or 14px*/
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}


/* 320 */
@media (max-width: 767px){
  .lead__caption {
    margin: 8px 0 0 16px;
  }
}

/* 768 */
@media (min-width: 768px){
  .lead__caption {
    margin: 8px 0 0 24px;
  }
}

/* 1024 */
@media (min-width: 1024px){
  .lead__caption {
    margin: 8px 0 0 48px;
  }
}

/* 1280 */
@media (min-width: 1280px){
  .lead__caption {
    margin: 8px 0 0 148px;
  }
}