.cover__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  color: #FFFFFF;
  z-index: 2;
  padding: 0;
  margin: 0;
}



/* 320 */
@media (max-width: 767px){
  .cover__title {
    font-size: 32px;
    line-height: 109%;
    /* or 35px*/
    margin: 0 auto 16px;
    max-width: 288px;
  }
}

/* 768 */
/* @media (max-width: 1023px){ */
@media (min-width: 768px){
  .cover__title {
    font-size: 72px;
    line-height: 106%;
    /* or 76px*/
    margin: 0 auto 32px;
    max-width: 560px;
  }
}
