.cover__title {
    font-family: 'Inter-Black';
    font-style: normal;
    font-weight: 900;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
  }

  /* 320 */
@media (max-width: 767px){
    .cover__title {
        font-size: 32px;
        line-height: 109%;
        /* or 35px*/
      }
}

/* 768 */
@media (max-width: 1023px){
    .cover__title {
        font-size: 72px;
        line-height: 106%;
        /* or 76px*/
      }
}

/* 1024 */
@media (max-width: 1279px){
    .cover__title {
        font-size: 72px;
        line-height: 106%;
        /* or 76px*/
      }
}

/* 1280 */
@media (min-width: 1280px){
    .cover__title {
        font-size: 72px;
        line-height: 106%;
        /* or 76px*/
      }
}