.footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 0 24px 0;
  justify-content: space-between;
}


  
/* 768 */
/* @media (max-width: 1023px){ */
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
  }
}


/* 1280 */
@media (min-width: 1280px){
  .footer {
    max-width: 1184px;
  }
}

