.header__lang-links {
  display: flex;
  list-style-type: none;
  column-gap: 18px;
  margin: 0;
  padding: 0;
}

/* 320 */
@media (max-width: 767px){
  .header__lang-links {
    padding-top: 30px;
  }
}

/* 768 */
/* @media (max-width: 1023px){ */
@media (min-width: 768px){
  .header__lang-links {
    padding-top: 46px;
  }
}