.place__website {
  grid-area: web;
}


/* 320 */
@media (max-width: 767px){
  .place__website {
    /* align-self: center; */
    /* width: 288px;
    height: 46px; */
  
  }  
}

/* 768 */
/* @media (max-width: 1023px){ */
@media (min-width: 768px){
  .place__website {
    align-self: end;

  }
}

/* 1024 */
/* @media (max-width: 1279px){ */
@media (min-width: 1024px){
  .place__website {
    align-self: end;

  }
}

/* 1280 */
@media (min-width: 1280px){
  .place__website {
    align-self: end;
}
}