.place__website {
  margin: 0;
  padding: 0;
  grid-area: web;
}


/* 320 */
@media (max-width: 767px){
  .place__website {
    margin: 0 16px;  
  }
}

/* 768 */
@media (min-width: 768px){
  .place__website {
    align-self: end;
  }
}