.page {
  /* параметры ширины и выстоы нужно будет поменять? */
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  background-color: #2A2C2F;
  color: #FFFFFF;
  font-family: 'Inter';
}


/* Ш-А-П-К-А */

.header {
  display: flex;
  justify-content: space-between;
}

.header__logo {

}

/* .header__lang-selector {} */

.header__lang-links {
  display: flex;
  list-style-type: none;
}

.header__lang-link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

/* .header__lang-link:first-of-type { */
  /* text-decoration: underline; */
/* } */



/* Л-И-Д */


.lead {

}

.lead__title {

}

.lead__subtitle {

}

/* задал параметры картинки наугад */
.lead__image {
  width: 100%;
  /* height: 50%; */
}

.lead__caption {
  text-transform: uppercase;
}


/* И-Н-Т-Р-О */


.intro {

}

.intro__title {

}

.inrto__text {

}

.intro__list {
  list-style-type: none;
}


/* Г-А-Л-Е-Р-Е-Я */


.photo-grid {
  /* параметр высоты взял из тренажера */
  min-height: calc(100vh - 80px);
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

/* параметры взял из тренажера */
.photo-grid__item {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* М-Е-С-Т-А */


.places {

}

.place {
  /* display: flex; */
  /* flex-direction: row; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "title link"
  "image paragraph"
  "image paragraph-bottom"
}

.place__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  grid-area: title;
}

.place__image {
  width: 90%;
  height: 90%;
  background-size: cover;
  grid-area: image;
  /* grid-row-start: 2; */
  /* grid-row-end: 4; */
  /* grid-row-start: 2; */
  /* grid-row-end: span 2; */
}

.place__website {

}

.place__url-heading {
  color: #AAAAAA;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: normal;
  grid-area: link;
}

.place__link {
  color: #FFFFFF;
}

.place__paragraph {
  /* grid-column-start: 2;
  grid-column-end: span 2; */
  grid-area: paragraph;
  
}

.place__paragraph_bottom {
  grid-area: paragraph-bottom;
}

/* Б-А-Й-К-А-Л */
.cover {
  background-image: url('../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 90vw;
  height: 90vh;
}

.cover__title {

}

.cover__subtitle {

}

.cover__background {
 
}


/* П-О-Д-В-А-Л */


.footer {
  display: flex;
  justify-content: space-between;
}

.footer__menu {
  
}

.footer__links {
  display: flex;
  list-style-type: none;
  /* justify-content: space-between; */
  gap: 18px;
}

.footer__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.footer__copyright {

}


@media screen and (max-width: 319px){
  .page {
      background-color: green;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .page {
      background-color: blue;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .page {
      background-color: red;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .page {
      background-color: purple;
  }
}

@media screen and (min-width: 1280px){
  .page {
      background-color: orange
  }
}