@font-face {
  font-family: 'Inter';
	src: local('Inter-Regular'),
    url('Inter-Regular.otf') format('opentype'),
    url('Inter-Regular.ttf') format('truetype'),
    url('Inter-Regular.svg') format('svg'),
    url('Inter-Regular.woff') format('woff'), 
    url('Inter-Regular.woff2') format('woff2');
}

/* стили директивы из css файла сайта https://www.fontconverter.io/ */
/* @font-face { */
  /* font-family: 'Inter-Regular'; */
  /* src: url(./Inter-Regular.eot); */
  /* src: url(./Inter-Regular.eot?#iefix) format('embedded-opentype'), */
       /* url(./Inter-Regular.svg#Inter-Regular) format('svg'), */
       /* url(./Inter-Regular.ttf) format('truetype'), */
       /* url(./Inter-Regular.woff) format('woff'), */
       /* url(./Inter-Regular.woff2) format('woff2'); */
/* } */

.page {
  /* параметры ширины и выстоы нужно будет поменять? */
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  background-color: #2A2C2F;
  color: #FFFFFF;
  font-family: 'Inter';
}



/* Ш-А-П-К-А */

.header {
  display: flex;
  justify-content: space-between;
}

.header__logo {

}

/* .header__lang-selector {} */

.header__lang-links {
  display: flex;
  list-style-type: none;
  gap: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

/* .header__lang-link:first-of-type { */
  /* text-decoration: underline; */
/* } */



/* Л-И-Д */

.lead {

}

.lead__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  /* or 104% */
  text-align: center;
}

.lead__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  text-align: center;
}

/* задал параметры картинки наугад */
.lead__image {
  width: 100%;
  /* height: 50%; */
}

.lead__caption {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height, or 140% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}



/* И-Н-Т-Р-О */

.intro {

}

.intro__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  /* identical to box height, or 107% */
}

.inrto__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  /* or 26px */
}

.intro__list {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
/* or 150% */
  list-style-type: none;
}



/* Г-А-Л-Е-Р-Е-Я */

.photo-grid {
  /* параметр высоты взял из тренажера */
  min-height: calc(100vh - 80px);
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

/* параметры взял из тренажера */
.photo-grid__item {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* М-Е-С-Т-А */

.places {

}

.place {
  /* display: flex; */
  /* flex-direction: row; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "title link"
  "image paragraph"
  "image paragraph-bottom"
}

.place__title {
  grid-area: title;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
}

.place__image {
  width: 90%;
  height: 90%;
  background-size: cover;
  grid-area: image;
  /* grid-row-start: 2; */
  /* grid-row-end: 4; */
  /* grid-row-start: 2; */
  /* grid-row-end: span 2; */
}

.place__website {

}

.place__url-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */
  letter-spacing: 2px;
  color: #AAAAAA;
  text-transform: uppercase;
  grid-area: link;
}

.place__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  text-decoration: underline;
  color: #FFFFFF;
  /* grid-area: link; */
}

.place__paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */

  /* grid-column-start: 2;
  grid-column-end: span 2; */
  grid-area: paragraph;
  
}

.place__paragraph_bottom {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */

  grid-area: paragraph-bottom;
}



/* Б-А-Й-К-А-Л */

.cover {
  background-image: url('../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 90vw;
  height: 90vh;
}

.cover__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  text-align: center;
}

.cover__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
}

.cover__background {
 
}



/* П-О-Д-В-А-Л */

.footer {
  display: flex;
  justify-content: space-between;
}

.footer__menu {
  
}

.footer__links {
  display: flex;
  list-style-type: none;
  /* justify-content: space-between; */
  gap: 18px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */
}

.footer__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.footer__copyright {

}


@media screen and (max-width: 319px){
  .page {
      background-color: green;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .page {
      background-color: blue;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .page {
      background-color: red;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .page {
      background-color: purple;
  }
}

@media screen and (min-width: 1280px){
  .page {
      background-color: orange
  }
}