@import url(../320.css);
@import url(../768.css);
@import url(../1024.css);
@import url(../1280.css);


@font-face {
  font-family: 'Inter-Regular';
	src: local('Inter-Regular'),
    url('Inter-Regular.otf') format('opentype'),
    url('Inter-Regular.ttf') format('truetype'),
    url('Inter-Regular.svg#Inter-Regular') format('svg'),
    url('Inter-Regular.woff') format('woff'), 
    url('Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter-Bold';
  src: local('Inter-Bold'),
    url('Inter-Bold.ttf') format('truetype'),
    url('Inter-Bold.svg#Inter-Bold') format('svg'),
    url('Inter-Bold.woff2') format('woff2'),
    url('Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Black';
  src: local('Inter-Black'),
    url('Inter-Black.ttf') format('truetype'),
    url('Inter-Black.svg#Inter-Black') format('svg'),
    url('Inter-Black.woff2') format('woff2'),
    url('Inter-Black.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



/* стили директивы из css файла сайта https://www.fontconverter.io/ */
/* @font-face { */
  /* font-family: 'Inter-Regular'; */
  /* src: url(./Inter-Regular.eot); */
  /* src: url(./Inter-Regular.eot?#iefix) format('embedded-opentype'), */
       /* url(./Inter-Regular.svg#Inter-Regular) format('svg'), */
       /* url(./Inter-Regular.ttf) format('truetype'), */
       /* url(./Inter-Regular.woff) format('woff'), */
       /* url(./Inter-Regular.woff2) format('woff2'); */
/* } */





/* М -- Е -- Д -- И -- А -- З -- А -- П -- Р -- О -- С -- Ы */



@media screen and (max-width: 319px){
  .page {
    max-width: 319px; 
      margin: 0;
      padding: 0;
      background-color: #2A2C2F;
      color: #FFFFFF;
      font-family: 'Inter';
   }
}
